.cart-page
  
  &__item
    display: flex
    flex-direction: row
    font-size: 16px
    line-height: 1.3em
    
    & div
      display: flex
      justify-content: center
      align-items: center
      padding: 5px
    
  &__number
    width: 5%
    border: 2px solid $color-content
    border-right-width: 0
    
  &__model
    width: 20%
    font-weight: 700
    border: 2px solid $color-content
    border-right-width: 0
    
  &__img
    width: 10%
    border: 2px solid $color-content
    border-right-width: 0
    
    img
      display: block
      width: 100%
  
  &__description
    width: 35%
    border: 2px solid $color-content
    border-right-width: 0
  
  &__count
    width: 5%
    border: 2px solid $color-content
    border-right-width: 0
  
  &__price
    width: 7%
    border: 2px solid $color-content
    border-right-width: 0
    
  &__value
    justify-content: space-between
    width: 18%
    border: 2px solid $color-content
  