.header
  position: fixed
  top: 0
  left: 0
  right: 0
  display: flex
  justify-content: space-between
  height: 80px
  color: $color-header
  font-size: $font-size-header
  letter-spacing: 1.8px
  text-transform: uppercase
  background-color: $color-bg-header
  box-shadow: 0 5px 15px $color-bg-header-shadow
  z-index: 100

  &__inner
    display: flex
    justify-content: space-between
    align-items: center
    margin: 0 30px
    width: 100%

  @media #{$laptop-width}
    font-size: 16px
  
    &__inner 
      margin: 0 5px
    
  @media #{$tablet-width}
    position: static
    padding: 20px 0
    height: auto
    font-size: $font-size-header
  
    &__inner
      flex-wrap: wrap
      margin: 0 20px
  
  @media #{$mobile-width}
    &__inner
      flex-direction: column
