.header
  position: fixed
  top: 0
  left: 0
  right: 0
  display: flex
  justify-content: space-between
  height: 80px
  color: $color-header
  font-size: $font-size-header
  letter-spacing: 1.8px
  text-transform: uppercase
  background-color: $color-bg-header
  box-shadow: 0 5px 15px $color-bg-header-shadow
  z-index: 100
  
  &__inner
    display: flex
    justify-content: space-between
    align-items: center
    margin: 0 30px
    width: 100%



//  .container
//    height: 100%
//    width: 100%
//    display: flex
//    justify-content: space-between
//    align-items: center
//    padding: 5px 15px
//    
//  .logo
//    img
//    width: 50px
//    
//  .login
//    color: white
//    text-transform: uppercase
//    cursor: pointer
//    &:hover
//    text-decoration: underline
//    
//  nav
//  .item
//    text-transform: uppercase
//    margin: 5px 20px
//    padding: 5px 10px
//    font-size: 18px
//    letter-spacing: 1.8px
//    
//    &.active
//      text-decoration: underline