.section
  position: relative
  margin: 40px 0
  
  &__inner
    margin: 0 auto
    padding: 0 15px
    width: 1360px
    
  &__heading
    margin: 0
    margin-bottom: 20px
    font-family: $font-family
    font-size: $font-size-h-section
    line-height: $font-lh
    font-weight: 700
    text-transform: uppercase
    
  @media #{$laptop-width}

    &__inner 
      width: 100%
    
  @media #{$tablet-width}

    &__inner 
      width: 100%
    
  @media #{$mobile-width}
    margin-bottom: 0
  
    &__inner 
      padding: 0 10px
    
    